<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PageChange.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B20A1F891C8432530073A9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B20A1F9D1C8432530073A9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B20A1FA81C8432530073A9DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
